body{
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #69A392;
    color: #333333;
}

body.modo-escuro{
    background-color: #212121;
    color: #F5F5F5;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

header .logo,
header .imagem-botao{
    width: 40px;
    transition: 0.2s ease-in-out;
}

header #botao-alterar-tema{
    background: none;
    border: none;    
}

header .logo:hover,
header .imagem-botao:hover,
main .cartao-pokemon:hover{
    transform: scale(1.1);
    cursor: pointer;
}

main{
    padding: 25px;
}

main .listagem-pokemon{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .cartao-pokemon{
    background-color: #AECAB5;
    width: 220px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

main .cartao-pokemon:hover{
    background-color: #C5B0D4;
}

.modo-escuro .cartao-pokemon{
    background-color: #2E2E41;
}

.modo-escuro .cartao-pokemon:hover{
    background-color: #3A3C75; 
}

.modo-escuro .cartao-pokemon .informacoes{
    border-color: #F5F5F5;
}

main .cartao-pokemon .informacoes{
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 10px;
}

main .cartao-pokemon .informacoes span{
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
}

main .cartao-pokemon .gif{
    width: 90px;
    height: 90px;
}

main .cartao-pokemon .tipos{
    display: flex;
    gap: 15px;
}

main .cartao-pokemon .tipo{
    padding: 8px;
    border-radius: 10px;
}

.grama{
    background-color: #7AC74C;
}

.venenoso{
    background-color: #B48BD5;
}

.fogo{
    background-color: #E97C22;
}

.agua{
    background-color: #4D9CCF;
}

.inseto{
    background-color: #A6B91A;
}

.voador{
    background-image: linear-gradient(to bottom, #00B8EE 50%, #C3C7CD 50%);
}

.normal{
    background-color: #A0A1B8;
}

.eletrico{
    background-color: #F6E652;
}

.terrestre{
    background-image: linear-gradient(to bottom, #F6E652 50%, #B19D41 50%);
}

.fada{
    background-color: #F4B2C5;
}

.lutador{
    background-color: #CB5023;
}

.psiquico{
    background-color: #DF67DDFB;
}

.pedra{
    background-color: #B19D41;
}

.aco{
    background-color: #A7BDBF;
}

.gelo{
    background-color: #59BDEC;
}

.fantasma{
    background-color: #765A8F;
}

.dragao{
    background-image: linear-gradient(to bottom, #5D97D0 50%, #EC6F52 50%);
}

main .descricao{
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
}
